<h1>Analyze data</h1>

<div id='status' class='chart'></div>
<div id='duration' class='chart'></div>
<div id='outliers' class='chart'></div>

<script type="text/javascript">
	Chart.buildStatusChart( 
		<%= @result.builds.to_json.html_safe %>, 
		<%= @result.outliers.to_json.html_safe %>
	)		
	Chart.buildDurationByDateChart( <%= @result.durations.to_json.html_safe %> )		
	Chart.buildOutliers( <%= @result.outliers.to_json.html_safe %> )		
</script>